@import './variables.css';

/* Page outer container */
.page-outer-container {
  min-width: 375px;
}

/* Search input */
.filter-title-form {
  width: 100%;
  background-color: white;
  border-radius: 6px;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(50%);
}

input[type="text"] {
  border: none;
  font-size: 1.6rem;
  font-family: inherit;
  color: var(--dark-blue);
  background-color: transparent;
}

input[type="text"]:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 20px white inset;
}

.filter-search-container {
  width: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-svg {
  fill: #6E8098;
}

.search-btn {
  padding: 1.3rem 1.5rem;
}

/* Main section */
.main-section {
  padding: 5rem 0; 
}

.card {
  width: 100%;
  background-color: var(--white);
  border-radius: 6px;
}

.job-card {
  padding: 5rem 3.5rem 3rem;
  position: relative;
  margin-top: 5rem;
}

.job-company-logo {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-title {
  font-size: 2rem;
  color: var(--dark-blue);
  margin: 1rem 0 2rem;
}

.company-name {
  color: var(--dark-grey);
  font-size: 1.6rem;
}

.company-location {
  color: var(--violet);
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 4rem;
}

.load-more-btn {
  padding: 1.5rem 3.2rem;
  font-size: 1.6rem;
  display: block;
  margin: 3.5rem auto 0;
}

.filter-form-popup-mobile {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.filter-location-text-input {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  border-bottom: 1px solid #6e809840;
}

.location-svg {
  margin-right: 1.5rem;
}

.filter-fulltime-only {
  padding: 2.5rem;
}

.fulltime-label {
  font-size: 1.6rem;
  color: var(--dark-blue);
  font-weight: 700;
}

.filter-fulltime-only div {
  width: 155px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-search-btn {
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 2.5rem;
}

/* Overlay when the popup to filter the jobs is showen */
.overlay {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.overlay::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

/* Dark mode classes */
.dark-mode-bg {
  background-color: var(--midnight);
}

.dark-mode-form {
  background-color: var(--dark-blue);
}

.filter-icon-dark-mode {
  fill: #fff;
}

.dark-mode-job-card {
  background-color: var(--dark-blue);
}
.dark-mode-font {
  color: var(--white);
}


/* Utility classes */
.wrapper {
  width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
  /* visibility: hidden;
  max-height: 0; */
}

.visible {
  display: block;
  /* visibility: hidden;
  max-height: auto; */
}



