/* Import variables */
@import './variables.css';

/* Primary button */
.btn-primary {
    background-color: var(--violet);
    border: none;
    color: var(--white);
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    transition: background-color .1s ease-in;
}

/* Secondary button */
.btn-secondary {
    background-color: #5964E01a;
    color: var(--violet);
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 5px;
    padding: 1.5rem 2.5rem;
    transition: background-color .1s ease-in;
}

/* Bullet point */
.bullet-point {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--dark-grey);
}

/* Posted date */
.posted-date {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-grey);
    font-size: 1.6rem;
}

.logo-link {
    color: var(--white);
    opacity: 1;
    transition: opacity .1s ease-in;
}

.logo-link:hover {
    opacity: .9;
    transition: opacity .1s ease-in;
}

/* Company logo image */
.job-company-logo-img {
    width: 65%;
  }

/* Dark mode classes */
.dark-mode-midnight {
    background-color: var(--midnight);
}
  
.dark-mode-dark-blue {
    background-color: var(--dark-blue);
}
  
.filter-icon-dark-mode {
    fill: #fff;
}
  
.dark-mode-job-card {
    background-color: var(--dark-blue);
}

.dark-mode-font {
    color: var(--white) !important;
}
  
/* Wraper */
.wrapper {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

/* Hide class */
.hidden {
    display: none;
}

/* Visible */
.visible {
    display: block;
}

.not-found-msg {
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    justify-self: center;
    margin-top: 15rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .btn-primary:hover {
        background-color: #5964e0e6;
        cursor: pointer;
        transition: background-color .1s ease-in;
    }
    
    .btn-secondary:hover {
        cursor: pointer;
        background-color: #5964e0e6;
        transition: background-color .1s ease-in;
    }
}

